// ========================================
// src/components/Header/Header.scss
// ========================================
@import '../../styles/variables';
@import '../../styles/mixins';

.header {
  background: linear-gradient(135deg, $primary-dark 0%, $secondary-color 100%);
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: $primary-color;
  text-transform: uppercase;
  letter-spacing: 2px;
  @include transition(color);
  
  &:hover {
    color: lighten($primary-color, 10%);
  }
}

.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  
  span {
    width: 25px;
    height: 3px;
    background: $white;
    @include transition;
  }
  
  @include responsive($breakpoint-mobile) {
    display: flex;
  }
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  
  a {
    color: $white;
    text-decoration: none;
    @include transition(color);
    font-weight: 500;
    
    &:hover {
      color: $primary-color;
    }
  }
  
  @include responsive($breakpoint-mobile) {
    position: fixed;
    top: $header-height;
    right: -100%;
    width: 250px;
    height: calc(100vh - #{$header-height});
    background: $primary-dark;
    flex-direction: column;
    padding: 30px;
    @include transition(right);
    
    &.active {
      right: 0;
    }
  }
}