// ========================================
// src/styles/_reset.scss
// ========================================
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}