@import './styles/_variables.scss';
@import './styles/_mixins.scss';
@import './styles/_reset.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $text-color;
  line-height: 1.6;
  overflow-x: hidden;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 80px 20px;
}

.section-title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 60px;
  color: $primary-dark;
  position: relative;
  
  &::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background: $primary-color;
    margin: 20px auto 0;
  }
}